body{
    color: white;
    font-family: sans-serif,monospace;
    background-color: rgba(255, 182, 174, 0.09);
}
/*Start navigation*/
.header-area .main-menu .nav-item .nav-link,.header-area .main-menu .navbar-brand{
    text-transform: uppercase;
    padding: 0.7rem;
    color:white;
}
.header-area .main-menu .navbar-brand{
    /*font-size: 1.4rem;*/
    padding: 0;
    font-weight: bolder;
}
.header-area .main-menu .nav-item .nav-link:hover,.header-area .main-menu .navbar-brand:hover{
    color: black;
    border: 1px solid black;
    padding: 0.5rem;
    background-color: transparent;
}
/*End navigation*/
/*Start top index section*/
#index-top{
    background-image: url('/static/images/banners/banner8.jpg');
    background-position: left center;
    text-align: left;
    padding-top: 80px;
    padding-bottom:80px;
    opacity: 0.8;


}
#index-top .jumbotron{
    background-color: transparent;
    border: 2px #d9534f solid;
    border-radius: 8px ;
    font-family: monospace;
    font-weight: bold;
    font-size: 1.5rem;
}
#index-top #author{
     text-transform:initial;
    color: white;
    display: inline;
}
#index-top .jumbotron span.quotes{
    font-size: 2rem;
    display: inline;
    line-height: 0;
    padding: 5px;
}
#index-top .jumbotron span{
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    color:#d9534f;
}
#index-top i{
    margin-top: 10px;
    color: white;
    margin-left: 1.5rem;
}
/*End top index section*/


/*Start bottom-top index section*/
#index-top-bottom{
    color:#d9534f;
    padding: 30px;
}
#ndex-top-bottom ,#container{

    padding-top: 60px;
    text-align: left;
}
#about-img{
    border :3px solid #d9534f;
    border-radius: 8px ;
}

#programming{
    background-color:  #d9534f;
}

/*End bottom-topindex section*/
/*Start footer section*/
#footer{
    background-color:  #d9534f;
    padding: 10px 10px 20px ;
    text-align: center;
}
#footer .footer-social-media, #footer .footer-links,#footer .footer-contact{
    border: 2px solid white;
    margin-top: 5rem;
    padding: 2.3rem;
    border-radius: 8px;
}
#footer .social-media{
    text-transform: uppercase;
    padding: 3px;
}
#footer .footer-social-media i{
    padding: 0.5rem;
}
#footer .footer-social-media i:hover{
    color: black;
    size: 4px;
}
#footer .footer-links ul{
    color: red;
    list-style-type: none;


}
#footer .footer-links a{
    text-decoration: none;
    color: white;
}
#footer .footer-links li{
    display: inline;
    padding: 1rem;
    font-size: 1.3rem;
}
#footer .footer-links li:hover{
    border: 1px solid black;
    padding: 0.7rem;
    border-radius: 8px;
    color: black;
}
/*End footer section*/



/*Start feedback section*/
#feedback{
    background-image: url('/static/images/banners/banner8.jpg');
    background-color: #d9534f ;
    padding-top:5rem;
    padding-bottom:5rem;
}
#feedback .jumbotron{
    background-color: transparent;
    border:1px solid #d9534f ;
    border-radius: 8px;
}
#feedback h4{
    text-transform: uppercase;
}
#feedback .jumbotron:hover{
    border:1px solid white
}
#feedback .error{
    color:  #d9534f;
}
#feedback .error:hover{
    color:  white;
    font-size: 1rem;
}
/*End feedback section*/


/*Start tech stack section*/
#techStack{
    background-color: rgba(0, 0, 0, 0.63);
    padding-top: 5rem;
    padding-bottom: 6rem;
    color: white ;
}
#techStack .card{
    margin-top: 2rem;
    padding-top: 1rem;
    color: white;
    background-color: transparent;
    border: 1px solid  #d9534f;
    border-radius: 8px;
}
#techStack .card:hover{
    color:  #d9534f;
    border: 1px solid  white;
}
#techStack .card i{
 padding-left: 1rem;
}
#techStack .tech-title,#section-projects .tech-title{
    background-color:  #d9534f;
    /*text-transform: uppercase;*/
    text-align: center;
    margin-top: 0;
    padding: 10px;
    font-family: monospace;
    font-weight: bolder;
}
#techStack .tech-title:hover{
    background-color: transparent;
    border: 1px solid #d9534f;
}
#techStack a{
    margin-top: 1.3rem;
    text-align: center;
}
/*End tech stack section*/


/*Start projects section*/
#section-projects{
    padding-top: 2.5rem;
    padding-bottom: 4rem;
    color: #d9534f;
}
#secton-projects .row{
    margin-top: 20px;
    margin-bottom: 20px;
}
#section-projects .card{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(255, 182, 174, 0.09);
    border: transparent;
}
#section-projects .card:hover{
    background-color: rgba(255, 50, 137, 0.09);
}
#section-projects .tech-title{
    color: white;
}
#project-detail{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}
#project-detail .jumbotron{
    background-color: rgba(255, 50, 137, 0.09);
}
#project-detail .jumbotron:hover{
    background-color: rgba(255, 182, 174, 0.09);
}
/*Start projects section*/

/*Start section mentor*/
#section-mentor{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    color:#d9534f ;
}
#section-mentor .main-row .card{
    background-color: rgba(255, 232, 216, 0.09);
    margin: 2rem;
    padding: 4px;
    border: transparent;
}
#section-mentor .card:hover{
    background-color: rgba(255, 50, 137, 0.09);
    /*border: 1px solid #c6c8ca;*/
}
#section-mentor .card img{
    height: 200px;
    width: 200px;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px 2px rgba(255, 50, 137, 0.16);
}
#section-mentor .mentor-title{
    text-align: center;
}
/*End section mentor*/

/*#section-mentor .card h5{*/
/*       float: left;*/
/*}*/
/*#section-mentor .card-body{*/
/*    float: right;*/
/*}*/
/*Start section mentor*/
#section-auth{
    margin-top: 10rem;
    color:#d9534f;
}
#section-auth fieldset{
    border: 2px solid #d9534f;
    margin-bottom: 6.5rem;
    padding: 1.5rem;
    text-align: center;
    line-height: 0;
}
#section-auth input[type='email'],#section-auth input[type='password'],#section-auth input[type='text']{
    padding: 5px;
    border: 1px solid #d9534f;
    background-color: rgba(255, 182, 174, 0.09);;
}
#section-auth label{
    margin: 15px;
}
#section-auth button{
    margin-top: 25px;
}
#section-auth .try{
    margin: 1rem;
}
#section-auth span{
    font-weight: bolder;
}
#section-auth a{
    color: #d9534f;
    margin: 7px;
}
/*End section mentor*/

/*start projects section*/
#section-projects-info{
      color: #d9534f;
}
#section-projects-info #top-project-section {
    height: 60vh;
    background-color: rgba(255, 47, 52, 0.41);
    background-image: url("/static/images/banners/banner11.jpg");
    background-position: right top;
    padding-top: 110px;
    color: #d9534f;
    text-align: right;
    padding-right:10rem

}
#section-projects-info #top-project-section .content-title{
    font-family: sans-serif;
    font-size: 2.5rem;
}
#section-projects-info #top-project-section p{
    font-family: monospace;
    font-size: 1.5rem;
}
#section-projects-info .container{
    margin-top: 20px;
    margin-bottom: 20px;
}#section-projects-info .card{
    min-height: 25rem;
}

#section-projects-info img{
    width: 100%;
    height: 15rem;

}
#section-projects-info .container .tech-title{
    padding: 5px;
    background-color: #d9534f;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}
#section-projects-info a{
    text-decoration: none;
     color: #d9534f;
}
#section-projects-info i{
    padding-left: 3px;
    padding-top: 3px;
}
#project-add{
   padding: 2px;
}
#project-add fieldset{
    border: 2px solid #d9534f;
    margin-bottom: 6.5rem;
    padding: 1.5rem;
    text-align: left;
    line-height: 0;
}
#project-add input[type='url'],#project-add input[type='file'],#project-add input[type='text'],.details{
    padding: 5px;
    border: 1px solid #d9534f;
    background-color: rgba(255, 182, 174, 0.09);
}
#project-add textarea{
    padding: 5px;
    border: 1px solid #d9534f;
    background-color: rgba(255, 182, 174, 0.09);
    margin-bottom: 2px;
}
#project-add .details{
    padding: 10px;
}

/*End projects section*/

/*start of project style*/
#project-detail .container-fluid{
    height: 40vh;
    background-color: rgba(255, 47, 52, 0.41);
    color: white;
    padding-top:70px
}
/*end of project style*/

/*Start about section styling*/
#section-about{
    margin-top: 4rem;
    padding-bottom: 3.8rem;
    margin-left: 0;
    margin-right: 0;
    background-color: rgba(255, 1, 54, 0.09);
    color: #d9534f;


}
#section-about .top-section{
    border: 1px solid rgba(255, 1, 54, 0.09);
    box-shadow: 3px 3px 3px 3px rgba(255, 1, 54, 0.09);
}
#section-about .top-section .img-section{
    height: 15rem;
    background-image: url("/static/images/banners/banner11.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}
#section-about .section-left,#section-about .section-right{
   padding-top: 10px;
   padding-left: 15px;
   padding-right: 0;
}
#section-about .section-right{
    padding-left: 0;
}
#section-about .section-right a{
    text-decoration: none;
    color:#d9534f;
}
#section-about .cardy{
    padding: 20px;
    margin-bottom: 10px;


}
#section-about .section-right .card{
    margin-left: 10px;
    margin-bottom: 5px;
    box-shadow: 3px 3px 3px 3px rgba(255, 1, 54, 0.09);
    background-color: rgba(255, 216, 145, 0.06);

}

#section-about .contact-info{
    padding: 3px;
}
#section-about .contact-info span{
    font-weight: bold;
}

#section-about .contact-info i{
    margin-right: 1.3rem;
    margin-top:5px;
    padding-top: 3px;
    padding-right: 3px;
    text-decoration: none;
    color:#d9534f;
}
#section-about .work{
    padding: 0;
    font-weight: bold;
}
#section-about .work button{
    margin-top:2.7rem;
}
#section-about .skills{
    text-align: center;
    padding: 3px;
    height: 5rem;
    line-height: 0;
}
#section-about .skills i{
    margin-right: 1.5rem;
}
#section-about .experience {
    padding: 5px;
}
#section-about .experience .title{
    font-weight: bold;
    text-transform: uppercase;
}
#section-about .experience .company, #section-about .experience .time{
    font-weight: normal;
    color: black;


}
#dashboard {
    color:#d9534f;
}
#dashboard .row{
    margin-top: 80px;
    margin-bottom: 20px;
}
#dashboard .top-section{
    height: 12rem;
    background-image: url("/static/images/banners/banner11.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}
#dashboard textarea {
    border: 1px solid red;
}
#dashboard .card-body  input[type='text'], input[type='email'], #dashboard textarea {
    border: transparent;
    /*background-color: rgba(214, 58, 255, 0.06);*/
}
#dashboard .btn-danger{
    text-align: center;
}
/*End about section styling*/