{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}


{% block body %}
    <div class="container-fluid" id="top-section-about">
        <h1 class="content-title"></h1>
    </div>
    <div class="container" id="mid-section-about">
        <div class="row">
            <div class="col col-sm-4 col-md-4 col-md-4 col-lg-4 col-xl-4 left">
                <div class="card">
                     <img src="/{{user.image_file}}" alt="" class="img-thumbnail">
                    <div class="card-body">
                        <p class="card-text">{{user.name}}</p>
                        <p class="card-text">{{user.email}}</p>

                    </div>
                </div>
            </div>
            <div class="col col-sm-8 col-md-8 col-md-8 col-lg-8 col-xl-8 right">
                <div class="row">

                    <div class="col col-sm-12 col-md-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                Technical experience
                            </div>
                            <div class="card-body">
                              <p class="lead">{{user.technical_experience}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-sm-12 col-md-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                Current job
                            </div>
                            <div class="card-body">
                               <p> {{user.current_job}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-sm-12 col-md-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                Educational background
                            </div>
                            <div class="card-body">
                                {{user.educational_background}}
                            </div>
                        </div>
                    </div>
                    <div class="col col-sm-12 col-md-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                Profession
                            </div>
                            <div class="card-body">
                                 {{user.profession}}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid">
    <h2 class="content-title">Programming languages</h2>
    <div class="row" id="programming">
        <div class="col col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="card">
                <div class="card-body">
                    <img src="/static/images/logos/js2.png" alt="">
                    <h5 class="title">Python</h5>
                    <p>{{user.python}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="card">
                <div class="card-body">
                    <img src="/static/images/logos/js2.png" alt="">
                     <h5 class="title">JavaScript</h5>
                    <p>{{user.javascript}}
                    </p>
                </div>
            </div>
        </div>
    </div>
        <div class="row" id="programming">
        <div class="col col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="card">
                <div class="card-body">
                    <img src="/static/images/logos/js2.png" alt="">
                     <h5 class="title">Java</h5>
                    <p>{{user.java}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="card">
                <div class="card-body">
                    <img src="/static/images/logos/js2.png" alt="">
                     <h5 class="title">Java</h5>
                    <p>{{user.java}}
                    </p>
                </div>
            </div>
        </div>
    </div>

    </div>
    <div class="container-fluid" id="top-framework">
    <h2 class="content-title">My frameworks</h2>
    <div class="container">
            <div class="row" id="framework">
                <div class="col col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-header">
                                <p>Django</p>
                            </div>
                                <p class="card-text">
                                   {{user.django}}
                                </p>
                                <button class="btn btn-info">View</button>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-header">
                                <p>Flask</p>
                            </div>
                                <p class="card-text">
                                    {{user.flask}}
                                </p>
                                <button class="btn btn-info">View</button>
                        </div>
                    </div>
                </div>

                <div class="col col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-header">
                                <p>Node Js</p>
                            </div>
                                <p class="card-text">
                                   {{user.nodejs}}
                                </p>
                                <button class="btn btn-info">View</button>
                        </div>
                    </div>
                </div>
                <div id="more-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores culpa cupiditate dolorum eligendi enim fugiat, fugit ipsum porro quaerat soluta.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}