{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}


{% block body %}
<section id="section-about">
    <div class="container" >
        <div class="row">
            <div class="col-md-8 col-lg-8 col-xl-8 section-left">
                <div class="top-section">
                    <div class="img-section">

                    </div>
                    <div class="row">
                        <div class="col-md-8 col-lg-8 col-xl-8 section-left">
                            <div class="cardy">
                                <h4 class="card-title">Antony Injila</h4>
                                <p>Learning Facilitator and Developer(Python and JavaScript) <br>
                                    Email:antonyhikubu@gmail.com <br>
                                    <i class="fab fa-linkedin fa-2x"></i>
                                    <i class="fab fa-github fa-2x"></i>
                                    <i class="fab fa-instagram fa-2x"></i>
                                    <i class="fab fa-twitter-square fa-2x"></i>
                                    <i class="fab fa-youtube-square fa-2x"></i>
                                </p>
{#                                add  modal for contact info#}
                            </div>

                        </div>
                        <div class="col-md-4 col-lg-4 col-xl-4 section-right">
                            <div class="cardy">
                                <ul style="list-style-type: none">
                                    <li><a href=""> eMobilis Mobile Technology Insititute</a></li>
                                    <li><a href=""> Moi University </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 section-right">
                <div class="card">
                   <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab delectus nam obcaecati. Error illo
                        praesentium, provident reprehenderit tempore velit voluptatibus.
                        </p>
                   </div>
                </div>
                <div class="card">
                   <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab delectus nam obcaecati. Error illo
                        praesentium, provident reprehenderit tempore velit voluptatibus.
                        </p>
                   </div>
                </div>
                <div class="card">
                   <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab delectus nam obcaecati. Error illo
                        praesentium, provident reprehenderit tempore velit voluptatibus.
                        </p>
                   </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-8 col-xl-8 section-left">
                <div class="top-section">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-12 section-left">
                            <div class="cardy">
                                <h4 class="card-title">Activities</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis consequuntur
                                    deleniti ea enim error, et facere fuga id illo, iste laudantium minus, neque nesciunt officia quam qui velit voluptas?
                                </p>
{#                                add  modal for contact info#}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-8 col-lg-8 col-xl-8 section-left">
                <div class="top-section">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-12 section-left">
                            <div class="cardy">
                                <h4 class="card-title">Experience</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis consequuntur
                                    deleniti ea enim error, et facere fuga id illo, iste laudantium minus, neque nesciunt officia quam qui velit voluptas?
                                </p>
{#                                add  modal for contact info#}
                            </div>

                        </div>
                        <div class="col-md-4 col-lg-4 col-xl-4 section-right">

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8 col-lg-8 col-xl-8 section-left">
                <div class="top-section">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-12 section-left">
                            <div class="cardy">
                                <h4 class="card-title">Education</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis consequuntur
                                    deleniti ea enim error, et facere fuga id illo, iste laudantium minus, neque nesciunt officia quam qui velit voluptas?
                                </p>
{#                                add  modal for contact info#}
                            </div>

                        </div>
                        <div class="col-md-4 col-lg-4 col-xl-4 section-right">

                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock body %}