{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% block body %}
    <div class="container" id="dashboard">
        <div class="row">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                  <li class="{{category}}">{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
            <div class="col col-sm-4 col-md-4 col-lg-4 col-xl-4" id="left">
                <div class="card" >
                  <div class="card-header">

                  </div>
                    <img src="/{{ user.image_file }}"  alt="">
                  <div class="card-body">
                       <p>{{ user.name }}</p>
                       <p>{{ user.email }}</p>

                  </div>
                </div>
                <div class="card">
                    <div class="card-body">
                    <div>
                        <p>Projects <span class="badge badge-success">{{ count}}</span></p>
                        <a href="{{ url_for('projects') }}" class="btn btn-warning">Post Project</a>
                    </div>

                         {% if projects %}
                             {% for project in projects %}
                               <p> <a href="/projects/detail/{{ project.id }}">
                                   {{project.name}} <span class="badge badge-danger">{{ project.comment }}</span>
                               </a></p>
                             {% endfor%}
                         {% endif%}
                    </div>
                </div>
            </div>
          {% if current_user.is_authenticated %}
            <div class="col col-sm-8 col-md-8 col-lg-8 col-xl-8" id="right">
                <div class="" style="width: 100%">
                    <form action="{{ url_for('dashboard_update') }}" method="post" enctype="multipart/form-data">
                        <fieldset>
                            <div class="form-group">
                                <label for="">Name here</label>
                                <input type="text" name="name" class="form-control" value="{{ user.name }}">
                            </div>
                              <div class="form-group">
                                <label for="">Email</label>
                                <input type="email" name="email" class="form-control" value="{{ user.email }}">
                            </div>
                            <div class="form-group">
                                 <label for="">About me</label>
                                <textarea name="about" style="width: 100%">{{user.about}}</textarea>
                            </div>
                            <div class="form-group">
                                 <label for="">Technical experience </label>
                                <textarea name="technical_experience" style="width: 100%">{{user.technical_experience}}</textarea>
                            </div>
                            <div class="form-group">
                                 <label for="">Current job </label>
                                <textarea name="current_job" style="width: 100%">{{user.current_job }}</textarea>
                            </div>
                            <div class="form-group">
                                 <label for="">Educational background</label>
                                <textarea name="educational_background" style="width: 100%">{{user.educational_background}}</textarea>
                            </div>
                            <div class="form-group">
                                 <label for="">Profession</label>
                                <textarea name="profession" style="width: 100%">{{user.profession}}</textarea>
                            </div>
                            <div class="form-group">
                                 <label for="">Python</label>
                                <textarea name="python" style="width: 100%">{{user.python}}</textarea>
                            </div>
                            <div class="form-group">
                                 <label for="">Javascript</label>
                                <textarea name="javascript" style="width: 100%">{{user.javascript}}</textarea>
                            </div>
                            <div class="form-group">
                                 <label for="">Java</label>
                                <textarea name="java" style="width: 100%">{{user.java}}</textarea>
                            </div>
                            <div class="form-group">
                                 <label for="">Django</label>
                                <textarea name="django" style="width: 100%">{{user.django}}</textarea>
                            </div>
                            <div class="form-group">
                                 <label for="">Node Js</label>
                                <textarea name="nodejs" style="width: 100%">{{user.nodejs}}</textarea>
                            </div>
                            <div class="form-group">
                                 <label for="">Flask</label>
                                <textarea name="flask" style="width: 100%">{{user.flask}}</textarea>
                            </div>
                            <div class="form-group">
                                 <label for="">Android</label>
                                <textarea name="android" style="width: 100%">{{user.android}}</textarea>
                            </div>
                            <input type="text" name="image-file-old" value="{{ user.image_file }}" hidden>
                            <input type="file" name="image-file">
                            <button type="submit" class="btn btn-info ">Update</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock body %}