{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}


{% block body %}

<!-- #################################Start main area#####################################-->
    <main class="site-main">

    <!--################################Start banner area#################################-->
        <section class="site-banner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 site-title">
                        <h3 class="title-text">Hey</h3>
                        <h1 class="title-text text-uppercase">I am Antony Injila</h1>
                        <h4 class="title-text text-uppercase">Software developer</h4>
                        <div class="site-button">
                            <div class="d-flex flex-row flex-wrap">
                                <button class="btn button primary-button mr-4 text-uppercase">Hire me</button>
                                <button class="btn button secondary-button mr-4 text-uppercase">Get CV</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 banner-image">
                        <img src="{{ url_for('static',filename='images/banners/banner1.jpeg') }}" alt="banner-img" class="img-fluid">
                    </div>
                </div>
            </div>
        </section>
    <!--################################end banner area###################################-->
    <!--##################################About area#######################################-->
        <div class="about-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="about-image">
                            <img src="{{ url_for('static',filename='images/banners/banner3.jpg') }}" alt="about us" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 about-title">
                        <h2 class="text-uppercase pt-5">
                            <span>Let me</span>
                            <span>Introduce </span>
                            <span>myself</span>
                        </h2>
                        <div class="paragraph py-4 w-75">
                            <p class="para">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolore ea earum
                                explicabo iste iure recusandae, rerum tempore totam voluptate?
                            </p>
                            <p class="para">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam commodi cupiditate dist
                                inctio earum excepturi facere facilis id illum inventore iusto labore libero maxime provi
                                dent recusandae rerum unde, voluptate. Alias asperiores deserunt eaque facilis modi nemo?
                                Cupiditate eligendi quaerat quasi saepe?
                            </p>
                            <button class="btn button primary-button">Download CV</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--##################################End About area#######################################-->

    </main>
{% endblock body %}