{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}


{% block body %}

<!-- #################################Start main area#####################################-->
    <main class="site-main">

    <!--################################Start banner area#################################-->
        <section class="site-banner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 site-title">
                        <h3 class="title-text">Hey</h3>
                        <h1 class="title-text text-uppercase">I am Antony Injila</h1>
                        <h4 class="title-text text-uppercase">Software developer</h4>
                        <div class="site-button">
                            <div class="d-flex flex-row flex-wrap">
                                <button class="btn button primary-button mr-4 text-uppercase">Hire me</button>
                                <button class="btn button secondary-button mr-4 text-uppercase">Get CV</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 banner-image">
                        <img src="./static/images/banners/banner1.jpeg" alt="banner-img" class="img-fluid">
                    </div>
                </div>
            </div>
        </section>
    <!--################################end banner area###################################-->
    </main>
{% endblock body %}