<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Antony Injila Shikubu ,Antony Injila ,Software Engineer">
    <meta name="keywords" content="Python, Java,JavaScript,Kotlin,HTML, CSS, XML, JavaScript">
    <meta name="author" content="Antony Injila">
    <link rel="icon" sizes="180x180" href="{{ url_for('static',filename='images/logos/favicon-16x16.png') }}">


    <title>{% block title %}Antony Injila | {{ title }}{% endblock title %}</title>

    <!--links to bootstrap-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!--fontawesome icons-->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/all.css') }}">
    <!--links to custom css-->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style_1.css') }}">
</head>
<body>
    <!--navigation menu-->
    <!--########################Start header area##############################-->
    <header class="header-area">
        <div class="main-menu">
            <nav class="navbar navbar-expand-lg navbar-light bg-danger fixed-top">
                <a class="navbar-brand" href="{{ url_for('index') }}">Antony Injila</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="ml-auto"></div>
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('about') }}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('courses') }}">Courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('projects') }}">Projects</a>
                        </li>

                         {% if current_user.is_authenticated %}
                              <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('projects_add') }}"><i class="far fa-plus-square fa-1x"></i></a>
                             </li>
                             <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a>
                             </li>

                             <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                             </li>

                        {% else %}
                              <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                             </li>
                              <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('signup') }}">Signup</a>
                             </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!--########################end header area##############################-->

    {% block content %}
        {% block body %}
        {% endblock body %}
        <section id="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-xl-4">
                        <div class="footer-social-media">
                            <h5 class="social-media">link up with me</h5>
                            <a href="https://www.linkedin.com/in/injila-antony-30a53410b/" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
                            <a href="https://github.com/AntonyIS"  target="_blank">
                                <i class="fab fa-github fa-3x"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-3x" target="_blank"></i></a>
{#                          <a href=""><i class="fab fa-twitter-square fa-3x"></i></a>#}
                            <a href="https://www.youtube.com/channel/UCVuumsWaI2ws7YcZRvANbVQ/" target="_blank"><i class="fab fa-youtube-square fa-3x"></i></a>
{#                          <a href=""><i class="fas fa-envelope-square fa-3x"></i></a>#}
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xl-4">
                        <div class="footer-contact">
                            <form action="{{ url_for('email') }}" method="post">
                               <fieldset>
                                   {% with messages = get_flashed_messages(with_categories=true) %}
                                          {% if messages %}
                                            <div id="flash" role="alert">
                                                 <ul class='flashes' style="list-style-type: none">
                                                {% for category, message in messages %}
                                                  <li class="{{ category }}">{{ message }}</li>
                                                {% endfor %}
                                                </ul>
                                            </div>
                                          {% endif %}
                                    {% endwith %}
                                    <h5 class="social-media">Send me an email...</h5>
                                   <div class="form-group">
                                        <label for="">Subject</label>
                                        <input type="text" name="subject" class="form-control">
                                    </div>
                                   <div class="form-group">
                                        <label for="">Email</label>
                                        <input type="email" name="email" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Message</label>
                                        <textarea name="body" id="" class="form-control contact-me"></textarea>
                                    </div>
                                    <button class="btn btn-outline-dark btn-block" type="submit">Send</button>
                               </fieldset>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xl-4">
                          <div class="footer-links">
                              <h5 class="social-media">Visits</h5>
                                <ul>
                                    <li><a href="{{ url_for('index') }}">Home</a></li>
                                     <li><a href="{{ url_for('about') }}">About</a></li>
                                    <li><a href="{{ url_for('projects') }}">Projects</a></li>
                                    <li><a href="{{ url_for('feedback') }}">Services</a></li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock content %}
    <script src="{{ url_for('static', filename='js/jquery.3.4.1.js') }}"></script>
    <!--links to bootstrap js-->
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
</body>
</html>