{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% block body %}
<!--###################### start Top index section############################    -->
<section id="index-top">
    <div class="container">
        <div class="jumbotron">
            <h3 class="content-title">
                <span>Hey</span>
                <span>I am </span>
                <span>Antony Injila</span>
                <span>Software Developer</span>
            </h3>
            <p><span class="quotes">"</span>The doers are the major thinkers. The people that really create the things that change this
                industry are both the thinker and doer in one person... <span class="quotes">"</span><span id="author">Steve Jobs </span>
            </p>
            <button class="btn btn-danger">Hire me</button>
             <a href="{{url_for('resume')}}" class="btn btn-outline-danger" target="_blank">View Resume</a>
            <i class="fab fa-js-square fa-2x"></i>
            <i class="fab fa-php fa-2x"></i>
            <i class="fab fa-java fa-2x"></i>
            <i class="fab fa-node-js fa-2x"></i>
            <i class="fab fa-python fa-2x"></i>
            <i class="fas fa-database fa-2x"></i>
            <i class="fab fa-github fa-2x"></i>
        </div>
        <div class="flask">
                  <!--Message flashing-->
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-xl-4"></div>
                    <div class="col-md-4 col-lg-4 col-xl-4">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                          {% if messages %}
                            <div id="flash">
                                 <ul class='flashes' style="list-style-type: none">
                                {% for category, message in messages %}
                                  <li class="{{ category }}" style="list-style: none">{{ message }}</li>
                                {% endfor %}
                                </ul>
                            </div>
                          {% endif %}
                    {% endwith %}
                    </div>
                    <div class="col-md-4 col-lg-4 col-xl-4"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--###################### end bottom-top index section############################    -->
<!--###################### start bottom-top index section############################  -->
<section id="index-top-bottom">
    <div class="about-me">
       <div class="container">
            <div class="row" id="container">
                <div class="col-md-6 col-lg-6 col-xl-6">
                    <div class="img-section">
                        <img src="../static/images/banners/banner3.jpg" alt="" class="img-fluid" id="about-img">
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                    <h3>
                        <span>Let me</span>
                        <span>Introduce myself</span>
                    </h3>
                    <p>
                        A Geographer by training and a Geospatial technology enthusiast with experience in Spatial Data
                        Collection, Spatial Data Analysis, Network Analysis and Imagery Analysis. Have gained computer
                        programming experience during my gap years with exposure to software development and focus on
                        Computer Science for Geographers.
                    </p>
                    <h5>My skills </h5>
                    <ul>
                        <li>
                            Computer Programming: Python, Django, Flask, JavaScript, NodeJS, ReactJS, JQuery,HTML,
                            CSS, Twitter Bootstrap.
                        </li>
                        <li>
                            Databases:MySQL PostgreSQL, MongoDB.
                        </li>
                        <li>
                            Operating Systems: Windows, Linux.
                        </li>
                        <li>
                            Version control: Git & GitHub.
                        </li>
                        <hr>
                        <li>
                            Spatial data collection using hand held GPS, mobile application such as ODK.
                        </li>
                        <li>
                            GIS data preparation, presentation, Raster and Vector Data Analysis and Remote Sensing
                            Analysis.
                        </li>
                    </ul>
                    <a href="{{ url_for('about') }}" class="btn btn-outline-danger">Learn more...</a>
                    <button class="btn btn-danger">Download Cv...</button>
                </div>
            </div>
       </div>
    </div>
</section>
<!--###################### end bottom-top index section##############################  -->




<!--######################Start middle index section##################################  -->
<section id="techStack">
    <div class="tech">
        <div class="container">
            <h3 class="tech-title">My tech stack</h3>
            <div class="row">
              <div class="col-sm-6">
                <div class="card">
                     <i class="fab fa-python fa-5x"></i>
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-danger">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                      <i class="fab fa-node-js fa-5x"></i>
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                     <a href="#" class="btn btn-danger">Learn more</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="card">
                     <i class="fab fa-java fa-5x"></i>
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                     <a href="#" class="btn btn-danger">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                     <i class="fab fa-php fa-5x"></i>
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                     <a href="#" class="btn btn-danger">Learn more</a>
                  </div>
                </div>
              </div>
            </div>
            <a href="" class="btn btn-danger"> Learn more...</a>
        </div>
    </div>
</section>
<!--######################End middle index section####################################-->

<!--######################Start project index section#################################-->
<section id="section-projects-info">
 <div class="container">
        <h3 class="tech-title">Latest projects</h3>
        <div class="row">
        {% if projects %}
           {% for project in projects %}
               <div class="col-md-3 col-lg-3 col-xl-3">
                   <a href="{{ url_for('projects_detail', project_id=project.id)}}">
                        <div class="card">
                            <img src="{{project.image_file}}" alt=""  >
                            <div class="card-body">
                                <h5 class="card-title">{{project.name}}</h5>
                                <p class="card-text"></p>
                                <div class="link">
                                    <a  href="{{ url_for('projects_detail', project_id=project.id)}}" class="btn btn-outline-danger">View</a>
                                    <a href="{{ project.github }}"><i class="fab fa-github fa-2x"></i></a>
{#                                    <span class="badge badge-danger">0</span>#}
                                </div>
                            </div>
                        </div>
                   </a>
                </div>
           {% endfor %}
        {% else %}
            <div class="container">
            <div class="jumbotron" style="text-align: center;font-size: 1.5rem">
                <p class="card-text">No projects available</p>
            </div>
            </div>
        {% endif %}
        </div>
    </div>

</section>
<!--######################End project index section####################################-->

<!--######################start mentor index section####################################-->
<section id="section-mentor">
    <div class="container-fluid">
         <h3 class="mentor-title">My mentors</h3>
        <div class="row main-row">
            <div class="col-md-6 col-lg-6 col-xl-6">
                <div class="card">
                    <div class="row inner-row">
                        <div class="col md-4 col-lg-4 col-xl-4">
                            <img src="{{ url_for('static', filename='images/banners/banner8.jpg') }}" alt="" class="img-fluid">
                        </div>
                        <div class="col md-8 col-lg-8 col-xl-8">
                            <div class="card-body">
                                <h3 class="card-title">Brian Pondi</h3>
                                <h5><span>Geospatial Engineer Property Finder</span></h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, maiores.</p>
                                 <i class="fab fa-linkedin fa-2x"></i>
                                 <i class="fab fa-github fa-2x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-6">
                <div class="card">
                    <div class="row inner-row">
                        <div class="col md-4 col-lg-4 col-xl-4">
                            <img src="{{ url_for('static', filename='images/banners/banner8.jpg') }}" alt="" class="img-fluid">
                        </div>
                        <div class="col md-8 col-lg-8 col-xl-8">
                            <div class="card-body">
                                <h3 class="card-title">Nicholous Koech</h3>
                                <h5><span>Python Engineer</span></h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, maiores.</p>
                                 <i class="fab fa-linkedin fa-2x"></i>
                                 <i class="fab fa-github fa-2x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--######################end mentor index section####################################-->




{% endblock body %}