{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% block body %}
<section id="project-detail" >
    <div class="container-fluid img-fluid" >
        <div class="detail-section">
            <h2 class="content-title">{{ project.name }}</h2>
            <h5>Technologies used in <span style="font-weight: bold">{{ project.name }}</span></h5>

                {% if technologies %}
                    {% for technology in technologies %}
                        <ul style="list-style-type: none">
                            <span style="line-height: 0px">{{ technology }}</span>
                        </ul>
                    {% endfor %}
                {% else %}
                    <p class="lead">No Technologies present for <span style="font-weight: bold">{{ project.name }}</span></p>
                {% endif  %}

        </div>
    </div>
        {% if current_user.is_authenticated %}
        {% endif %}
    <div class="container">
        <form action="{{ url_for('projects_update', project_id=project.id) }}" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <img src="/{{ project.image_file }}" alt="img-{{ project.name }}" class="img-fluid">
                    <div class="card-body">
                       <span>{{ project.name }}
                        <a href="{{ project.github }}"><i class="fab fa-github fa-3x"></i></a>
                       </span>
                            {% if current_user.is_authenticated %}
                                <input type="file" name="project-image" class="">
                                <input type="text" hidden name="old-project-image" value="{{ project.image_file }}" class="form-control">
                                <br>
                                <button  class="btn btn-danger" type="submit">Update {{ project.name }}</button>
                            {% endif %}
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">

                        {% if current_user.is_authenticated %}
                                <div class="form-group">
                                    <label for="">Title</label>
                                    <input type="text" class="form-control" name="name" value="{{ project.name }}">
                                </div>
                                <div class="form-group">
                                    <label for="">Github</label>
                                    <input type="url" class="form-control" name="github" value="{{ project.github }}">
                                </div>
                                <div class="form-group">
                                    <label for="">Youtube</label>
                                    <input type="url" class="form-control" name="youtube" value="{{ project.youtube }}">
                                </div>
                                <div class="form-group">
                                    <label for="">Technologies</label>
                                    <input type="text" class="form-control" name="technologies" value="{{ project.technologies }}">
                                </div>
                                
                                <div class="form-group">
                                    <label for="">Description</label>
                                    <textarea name="description" id="" cols="30" rows="10" class="form-control">
                                        {{ project.description.strip() }}
                                    </textarea>
                                </div>
                        {% endif %}
                    </div>
                </div>


            </div>
          </form>
            <div class="col-md-8 col-lg-8 col-xl-8 card ">
               <div class="" style="text-align: left">
                <p style="color: red;text-align: left;" class="card-text" >{{ project.description }}</p>
                <span style="font-weight: bold">Developed on :
                {{ project.created_at.strftime("%Y") }},
                {{ project.created_at.strftime("%B") }}
                {{ project.created_at.strftime("%d") }}
                </span>
                <span style="font-weight: bold">@
                <i class="fa fa-calendar"></i>
                    <span>{{ project.created_at.strftime("%X") }}</span>
                </span>
                   <div class="col-md-12 col-lg-12 col-xl-12 ">
                       <div id="comments">
                           <div class="row">
                               {% if comments %}
                                {% for comment in comments %}
                                <div class="col-md-6 col-lg-6 col-xl-6" style="margin-bottom: 1rem">
                                    <div class="card">
                                        <div class="row">
                                            <div class="col-md-2 col-lg-2 col-xl-2">
                                                <img src="{{ url_for('static',filename='images/logos/brand1.jpg') }}" class="bg-warning" alt="" style="height: 40px;width: 40px">
                                            </div>
                                            <div class="col-md-10 col-lg-10 col-xl-10">
                                                <div class="card-body">
                                                   <p style="font-size: 0.8rem;text-align: left;padding: 0;margin: 0;line-height: 0" >{{ comment.comment }}</p>
                                                     <span style="font-size: 0.4rem;padding: 0;margin: 0;line-height: 0">like</span>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                           {% endif %}

                        <form action="{{ url_for('comment') }}" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="comment" placeholder="leave a comment...">
                                    <input type="number" hidden name="project_id" value="{{ project.id }}">
                                    <button class="btn btn-danger btn-block">Comment</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                   </div>
               </div>
                <div class="card" style="margin-top: 5px;">
                    <iframe width="724" height="400" src="{{project.youtube}}" frameborder="0" allowfullscreen class="img-card"></iframe>
               </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}
