{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% block body %}
<section id="section-projects-info" >
    <div id="top-project-section">
        <div class="container-fluid">
            <div class="content-detail">
                {% if error %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endif %}
                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    <div>
                         <ul class=flashes, style="list-style-type: none">
                        {% for category, message in messages %}
                          <li class="{{ category }}" style="list-style: none">{{ message }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                  {% endif %}
                {% endwith %}
                <h3 class="content-title">Projects build with love</h3>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, nulla!</p>
                <button class="btn btn-danger">Learn more</button>
            </div>
        </div>
    </div>
   <div class="container">
        <h3 class="tech-title">Latest projects</h3>
        <div class="row">
        {% if projects %}
           {% for project in projects %}
               <div class="col-md-3 col-lg-3 col-xl-3">
                   <a href="{{ url_for('projects_detail', project_id=project.id)}}">
                        <div class="card">
                            <img src="{{project.image_file}}" alt=""  >
                            <div class="card-body">
                                <h5 class="card-title">{{project.name}}</h5>
                                <p class="card-text"></p>
                                <div class="link">
                                    <a  href="{{ url_for('projects_detail', project_id=project.id)}}" class="btn btn-outline-danger">View</a>
                                    <a href="{{ project.github }}"><i class="fab fa-github fa-2x"></i></a>
{#                                    <span class="badge badge-danger">0</span>#}
                                </div>
                            </div>
                        </div>
                   </a>
                </div>
           {% endfor %}
        {% else %}
            <div class="container">
            <div class="jumbotron" style="text-align: center;font-size: 1.5rem">
                <p class="card-text">No projects available</p>
            </div>
            </div>
        {% endif %}
        </div>
    </div>
       {% if current_user.is_authenticated %}
    <div id="project-add">
        <div class="container">
            <div class="row">
                <div class="col col-md-8 col-lg-8 col-xl-8">
                    <form action="{{ url_for('projects_add') }}" method="post" enctype="multipart/form-data">
                       <fieldset>
                            <h5 class="social-media">Add a new project...</h5>
                           <hr>
                           <div class="form-group">
                                <label for="">Name</label>
                                <input type="text" name="name" class="form-control" required>
                            </div>
                           <div class="form-group">
                                <label for="">Technologies</label>
                                <input type="text" name="technologies" class="form-control" required>
                            </div>
                           <div class="">
                               <div class="form-group">
                                    <label for="">Github url</label>
                                    <input type="url" name="github" class="form-control" required>
                                </div>
                               <div class="form-group">
                                    <label for="">Youtube url </label>
                                    <input type="url" name="youtube" class="form-control" required>
                                </div>
                           </div>
                            <div class="form-group">
                                <label for="">Description</label>
                                <textarea name="description" id="" class="form-control contact-me" required></textarea>
                                 <input type="file" name="image-file">
                            </div>
                            <button class="btn btn-outline-danger btn-block" type="submit">Send</button>
                       </fieldset>
                    </form>
                </div>
            <div class="col col-md-4 col-lg-4 col-xl-4">
                <div class="details">
                    <h3 class="detail-title">Consider</h3>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consectetur
                        distinctio esse fugit odio perspiciatis quidem? Distinctio inventore nostrum quibusdam.
                    </p>
                </div>
            </div>
            </div>
        </div>
    </div>
    {% endif %}
</section>
{% endblock body %}